.footer{width: 1300px;
    margin: 0 auto;
        &--list{
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            &-item{
                margin-top: 20px;
                width: 25%;
                list-style-type: none;
                padding: 5px;
                h2{font-weight: 400;
                    font-size: 24px;
                    line-height: 32px;
                    color: #404040;

                }
                p{  margin-top: 10px;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #404040;}
            }
        }
}
@media screen and (max-width:500px){
    .footer{width: 100%;
    &--list{
        &-item{
            width: 100%;
        }
    }
    }
}
@media screen and (max-width:1300px){
    .footer{width: 100%;}
}